# Gradle
*.iml
.gradle
.idea/
build/
dist/

# Android
local.properties
*.apk
*.aar
*.ap_
*.aab

# Keystore
*.jks
*.keystore

# macOS
.DS_Store

# IDE
.idea/
*.iml
*.iws
*.ipr
*.swp
*.swo
*~

# Output
out/
